.bar{
  fill: steelblue;
  opacity: 1;
}

.selected {
}

.dot.brushed {
  stroke: orange !important;
}
.legend, .label, label {
    font: 12px sans-serif;
}

.legend{

}
.legend rect {
    max-width: 20%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.legend:hover rect {
    -moz-transform: scale(1.005);
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
}
.axis {
    font: 9px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

body {
    font: 10px sans-serif;
    /*color: #121401;*/
    margin: auto;
    width: 1600px;
    background-color: #e1e8f2;

}


#title{
  background-color: #e1e8f2;
}

#controls{
  border: thin solid black;
  width: 270px;
  margin: 10px;
  padding: 10px;
  margin-right: 220px;
  float: left;
  float: top;
  background-color: #afc1db;

}

#title{
  padding-left: 400px;
  background-color: #e1e8f2
}

.stackedBar{
    padding-left: 25px;
    width: 950;
    height: 60%;
    float: left;
    margin-right: 0px;
    padding-right: 0px;
    background-color: #e1e8f2;
    /*padding-left: 100px;*/
    /*background: red;*/
}

.series{

}
.series rect {
    max-width: 100%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.series:hover rect {
    -moz-transform: scale(1.005);
    -webkit-transform: scale(1.005);
    transform: scale(1.005);
}

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  }

    /* Tooltip CSS */
    .d3-tip {
    line-height: 1.5;
    font-weight: 400;
    font-family:"avenir next", Arial, sans-serif;
    padding: 6px;
    background: rgba(0, 0, 0, 0.6);
    color: #FFA500;
    border-radius: 1px;
    pointer-events: none;
    }

    /* Creates a small triangle extender for the tooltip */
    .d3-tip:after {      
      box-sizing: border-box;
      display: inline;
      font-size: 8px;
      width: 100%;
      line-height: 1.5;
      color: rgba(0, 0, 0, 0.6);
      position: absolute;
      pointer-events: none;
      
    }

    /* Northward tooltips */
    .d3-tip.n:after {
      content: "\25BC";
      margin: -1px 0 0 0;
      top: 100%;
      left: 0;
      text-align: center;
    }

    /* Eastward tooltips */
    .d3-tip.e:after {
      content: "\25C0";
      margin: -4px 0 0 0;
      top: 50%;
      left: -8px;
    }

    /* Southward tooltips */
    .d3-tip.s:after {
      content: "\25B2";
      margin: 0 0 1px 0;
      top: -8px;
      left: 0;
      text-align: center;
    }

    /* Westward tooltips */
    .d3-tip.w:after {
      content: "\25B6";
      margin: -4px 0 0 -1px;
      top: 50%;
      left: 100%;
    }

/*    text{
      pointer-events:none;
    }*/

    .details{
      color:white;
    }

/*.barChart{*/
/*float: right;*/
/*width: 100%;*/
/*height: 80%;*/
/*!*border: 1px solid #999;*!*/
/*!*background: red;*!*/
/*}*/

.yearRaceMultiple {
    float: left;
    padding-right: 0px;
    width: 40%;
    height: 70%;
    background-color: #e1e8f2;
}

.yearSexMultiple {
    padding-right: 700px;
    float: left;
    width: 40%;
    height: 70%;
    background-color: #e1e8f2;
}



/*.yearRaceHeader {*/
    /*float: left;*/
    /*width: 800;*/


/*}*/
/*.yearSexHeader {*/
    /*float: left;*/
    /*width: 800px;*/

/*}*/
.line {
    fill: none;
    stroke: #000;
    stroke-width: 5px;
    width: 100%;


}
.line path {
    max-width: 10%;

    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.series:hover path {
    -moz-transform: scale(1.005);
    -webkit-transform: scale(1.005);
    transform: scale(1.005);

}

.area {
    fill: steelblue;
    opacity: .3;
    width: 100%;


}


.femalearea {
    fill: red;
    opacity: .2;
    width: 100%;


}

.maleline {
    fill: none;
    stroke: #666;
    stroke-width: 5px;
    width: 100%;

}

.femaleline {

    fill: none;
    stroke: #666;
    stroke-width: 5px;
    width: 100%;

}
.axis path,
.axis line {
    fill: none;
    stroke: #121401;
    stroke-width: 1px;
    shape-rendering: crispEdges;
    width: 100%;

}

.yearRace{
  padding-right: 700px;
  float: left;
  width: 50%;
  height: 70%;
  background-color: #e1e8f2;
}

.sexBarChart{
  float: left;
  padding-left: 25px;
  padding-right: 0px;
  width: 50%;
  height: 70%;
  background-color: #e1e8f2;
}

.causeSmallMultiple{
  float:bottom;
  background-color: #e1e8f2;
}

.causeSmallMultipleH{
  float: center;
  background-color: #e1e8f2;
}


.resetButton {
    float: left;
}

.selections{
  float:bottom;
  margin: 100px;
  margin-top:500px;
  padding: 10px;
  width: 1000px;
  height: 1000px;
  background-color: #e1e8f2;
}

.tooltip > p {
  margin-top: 4px;
  margin-bottom: 4px;
}

.tooltip {
  background: #101010;
  color: #EAEAEA;
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  pointer-events: none;
  text-align: left;
  opacity: .5;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.yearRaceMultiple {
    float: left;
    padding-left: 25px;
    padding-right: 0px;
    width: 50%;
    height: 70%;
    background-color: #e1e8f2;
}


/*.yearRaceMultiple svg {*/
    /*max-width: 100%;*/

    /*-moz-transition: all 0.3s;*/
    /*-webkit-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
/*}*/
/*.yearRaceMultiple:hover path {*/
    /*-moz-transform: scale(1.1);*/
    /*-webkit-transform: scale(1.1);*/
    /*transform: scale(1.1);*/
/*}*/




.yearSexMultiple {
    padding-right: 700px;
    float: left;
    width: 50%;
    height: 70%;
    background-color: #e1e8f2;
}
/*.yearSexMultiple svg {*/
    /*max-width: 100%;*/

    /*-moz-transition: all 0.3s;*/
    /*-webkit-transition: all 0.3s;*/
    /*transition: all 0.3s;*/
/*}*/
/*.yearSexMultiple:hover svg {*/
    /*-moz-transform: scale(1.3);*/
    /*-webkit-transform: scale(1.3);*/
    /*transform: scale(1.3);*/
/*}*/

